* {
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}


body{
    background: #ffc0cb;
    display: flex;
    justify-content: center;
    margin: 5% auto;
}

.nanogram-container{
    padding: 4%;
    background: rgb(218, 139, 152);
    border-radius: 5px;
    margin: auto;
}

table{
    background: #fce9ec;
    border-radius: 5px;
    width: 100%;
    min-width: 400px;
}


th, td{
    width: 35px;
    height: 35px;
    border: 1px solid black;
}

.cell{
    font-size: 25px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


