* {
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}


body{
    background: pink;
}

th{
    width: 25px;
    border: 1px solid black;
}

tr{
    height: 25px;
}

td{
    border: 1px solid black;
}

