* {
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #ffc0cb;
    display: flex;
    justify-content: center;
    margin: 5% auto;
}

.nanogram-container{
    padding: 4%;
    background: rgb(218, 139, 152);
    border-radius: 5px;
    margin: auto;
}

table{
    border-radius: 5px;
    width: 100%;
    min-width: 400px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-collapse: collapse;
}

th, td{
    width: 35px;
    height: 35px;
    border: 1px solid black;
    font-size: 18px;
    background: #fce9ec;

}
th{
    border: 3px solid black;
}

.cell{
    font-size: 25px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.numbers{
    border: 3px solid black;
    font-size: 18px;
    font-weight: 600;
    text-align: end;
    padding-right: 5px;
}

.fifth-row{
    border-bottom: 3px solid black;
}
.fifth-column{
    border-right: 3px solid black;
}
.first-cell{
    border: none;
    width: 70px;
    background: rgb(218, 139, 152);
}

#check-btn{
    font-size: 19px;
    background: linear-gradient(135deg, rgb(209, 91, 112), rgb(166, 40, 61));
    margin-top: 20px;
    padding: 7px 18px;
    border: none;
    outline: none;
    border-radius: 10px;
}

#check-btn:hover{
    box-shadow: 0 0 10px rgb(90, 88, 88);
}

.result {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
  }
  
.timer{
    font-size: 19px;
    background: linear-gradient(135deg, rgb(209, 91, 112), rgb(166, 40, 61));
    padding: 7px 18px;
    margin-top: 20px;
    margin-right: 59%;
    border: none;
    outline: none;
    border-radius: 10px;
}

